@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  color: #94918e;
  box-sizing: border-box;
}
.MuiTablePagination-displayedRows {
  display: none;
}
.MuiTablePagination-actions {
  display: none;
}
.MuiTablePagination-root {
  margin-right: -20px;
}

.css-dv0mq-MuiTableCell-root {
  color: #94918e;
}

.MuiTableCell-root {
  color: #94918e;
}
.MuiButtonBase-root {
  color: #94918e;
}
.recharts-cartesian-grid-horizontal line {
  stroke-dasharray: 0;
}
.recharts-cartesian-grid-vertical line {
  stroke-dasharray: 3, 3;
}
.recharts-cartesian-grid-vertical > line {
  stroke-dasharray: 0.1;
}

.MuiTableRow-head {
  background-color: #091f2f;
}

 